{
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"trailingComma": "all",
	"endOfLine": "lf",
	"printWidth": 70,
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/components/UI/(.*)$",
		"^@/components/Compose/(.*)$",
		"^@/components/Content/(.*)$",
		"^@/components/(.*)$",
		"^@/lib/animations/(.*)$",
		"^@/lib/hooks/(.*)$",
		"^@/lib/(.*)$",
		"^@/(.*)$",
		"^./(.*)$",
		"^[./]",
		"",
		"^@/public/(.*)$",
		"^@/img/(.*)$",
		"",
		"^@/styles/(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderBuiltinModulesToTop": true,
	"importOrderParserPlugins": ["jsx", "decorators-legacy"],
	"importOrderMergeDuplicateImports": true,
	"importOrderCombineTypeAndValueImports": true,
	"plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
