/** Variations */
@utility variants {
	--v-color: var(--color-blue-500);
	--v-contrast: var(--color-slate-50);
	--v-hover: var(--color-blue-300);
	--v-bg: transparent;
	--v-fg: transparent;
	--v-border: transparent;
	background-color: var(--v-bg);
	border-color: var(--v-border);
	color: var(--v-fg);

	&[class*='-primary'] {
		--v-color: var(--color-blue-700);
		--v-contrast: var(--color-white);
		--v-hover: var(--color-blue-600);
	}

	&[class*='-soft'] {
		--v-color: var(--color-indigo-50);
		--v-contrast: var(--color-indigo-800);
		--v-hover: var(--color-indigo-50);
	}

	/***********
		Actions
	***********/
	/* Secondary */
	&[class*='-secondary'] {
		--v-color: var(--color-zinc);
		--v-contrast: var(--color-white);
		--v-hover: var(--color-zinc-600);
	}

	/* Info */
	&[class*='-info'] {
		--v-color: var(--color-blue-300);
		--v-contrast: var(--color-slate-800);
		--v-hover: var(--color-slate-100);
	}

	/* Accent */
	&[class*='-accent'] {
		--v-color: var(--color-green-200);
		--v-contrast: var(--color-green-900);
		--v-hover: var(--color-green-100);
	}

	/* Highlight */
	&[class*='-highlight'] {
		--v-color: var(--color-red-500);
		--v-contrast: var(--color-white);
		--v-hover: var(--color-red-400);
	}

	/* Notice */
	&[class*='-notice'] {
		--v-color: var(--color-blue-400);
		--v-contrast: var(--color-indigo-800);
		--v-hover: var(--color-blue-400);
	}

	/***********
		Neutrals
	***********/

	/* Indigo */
	&[class*='-indigo'] {
		--v-color: var(--color-indigo-500);
		--v-contrast: var(--color-indigo-50);
		--v-hover: var(--color-indigo-900);
	}

	/* Light */
	&[class*='-light'] {
		--v-color: var(--color-indigo-100);
		--v-contrast: var(--color-indigo-800);
		--v-hover: var(--color-indigo-600);
	}

	/* Zinc */
	&[class*='-zinc'] {
		--v-color: var(--color-zinc-600);
		--v-contrast: var(--color-zinc-100);
		--v-hover: var(--color-zinc-800);
	}

	/* Slate */
	&[class*='-slate'] {
		--v-color: var(--color-slate-600);
		--v-contrast: var(--color-zinc-100);
		--v-hover: var(--color-slate-800);
	}

	/* White */
	&[class*='-white'] {
		--v-color: var(--color-white);
		--v-contrast: var(--color-blue-800);
		--v-hover: theme('colors.white/70');
	}

	/* Ghost */
	&[class*='-ghost'] {
		--v-color: rgba(255, 255, 255, 0.1);
		--v-hover: rgba(255, 255, 255, 0.2);
	}

	/***********
		Feedback 
	***********/
	/* Success */
	&[class*='-success'] {
		--v-color: var(--color-success-500);
		--v-contrast: var(--color-zinc-100);
		--v-hover: var(--color-success-600);
	}

	/* Warning */
	&[class*='-warning'] {
		--v-color: var(--color-warning-500);
		--v-contrast: var(--color-zinc-100);
		--v-hover: var(--color-warning-600);
	}

	/* Danger / Error */
	&[class*='-danger'] {
		--v-color: var(--color-danger-500);
		--v-contrast: var(--color-zinc-100);
		--v-hover: var(--color-danger-600);
	}
}
