/* THEME */
@theme {
	/* Breakpoints */
	--breakpoint-*: initial;
	--breakpoint-xs: 576px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	--breakpoint-3xl: 1560px;
	--breakpoint-4xl: 1780px;
	--breakpoint-5xl: 1920px;
	--breakpoint-6xl: 2080px;

	/* Fonts */
	--font-*: initial;
	--font-heading: var(--font-nib);
	--font-subheading: var(--font-geist);
	--font-main: var(--font-geist);
	--font-label: var(--font-geist);

	/* Colors */
	--color-*: initial;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-ghost: rgba(255, 255, 255, 0.5);
	--color-transparent: transparent;
	--color-current: currentColor;
	--color-accent: var(--accent);
	--color-bg: var(--bg);
	--color-fg: var(--fg);

	/* Neutrals */
	--color-zinc: oklch(58.39% 0.031 233.07);
	--color-zinc-50: oklch(96.22% 0.003 219.53);
	--color-zinc-100: oklch(93.15% 0.005 228.82);
	--color-zinc-200: oklch(85.49% 0.011 226);
	--color-zinc-300: oklch(75.12% 0.02 230.8);
	--color-zinc-400: oklch(61.69% 0.031 231.8);
	--color-zinc-500: oklch(58.39% 0.031 233.07);
	--color-zinc-600: oklch(54.06% 0.028 233.43);
	--color-zinc-700: oklch(49.59% 0.025 231.02);
	--color-zinc-800: oklch(42.95% 0.022 233.05);
	--color-zinc-900: oklch(34.17% 0.017 234.34);
	--color-zinc-950: oklch(27.17% 0.012 232.95);

	--color-slate: oklch(36.06% 0.033 227.02);
	--color-slate-50: oklch(95.45% 0.008 228.85);
	--color-slate-100: oklch(90.37% 0.017 221.09);
	--color-slate-200: oklch(81.13% 0.031 226.12);
	--color-slate-300: oklch(71.28% 0.048 227.08);
	--color-slate-400: oklch(61.91% 0.064 227.15);
	--color-slate-500: oklch(50.23% 0.05 226.45);
	--color-slate-600: oklch(43.14% 0.042 227.04);
	--color-slate-700: oklch(36.06% 0.033 227.02);
	--color-slate-800: oklch(28.61% 0.025 227.01);
	--color-slate-900: oklch(20.95% 0.016 218.31);
	--color-slate-950: oklch(17.28% 0.011 229.83);

	--color-stone: oklch(87.71% 0.004 67.78);
	--color-stone-50: oklch(96.99% 0.001 106.42);
	--color-stone-100: oklch(93.86% 0.002 17.2);
	--color-stone-200: oklch(87.71% 0.004 67.78);
	--color-stone-300: oklch(81.36% 0.005 48.67);
	--color-stone-400: oklch(74.97% 0.007 67.71);
	--color-stone-500: oklch(68.36% 0.009 56.25);
	--color-stone-600: oklch(59.87% 0.012 54.37);
	--color-stone-700: oklch(51.1% 0.01 56.17);
	--color-stone-800: oklch(41.94% 0.007 59.5);
	--color-stone-900: oklch(32.24% 0.005 67.67);
	--color-stone-950: oklch(27% 0.005 67.63);

	/* Brand */
	--color-red: oklch(66.8% 0.184 17.77);
	--color-red-50: oklch(96.86% 0.014 12.01);
	--color-red-100: oklch(93.69% 0.028 9.38);
	--color-red-200: oklch(88.61% 0.052 12.31);
	--color-red-300: oklch(82.69% 0.085 12.64);
	--color-red-400: oklch(76.03% 0.124 14.15);
	--color-red-500: oklch(66.8% 0.184 17.77);
	--color-red-600: oklch(63.26% 0.21 20.3);
	--color-red-700: oklch(59.55% 0.234 25.12);
	--color-red-800: oklch(53.19% 0.208 24.88);
	--color-red-900: oklch(46.65% 0.181 24.53);
	--color-red-950: oklch(40.95% 0.157 24.16);

	/* --color-indigo: oklch(39.13% 0.054 234.75);
	--color-indigo-50: oklch(96.3% 0.009 232.36);
	--color-indigo-100: oklch(93.24% 0.017 230.91);
	--color-indigo-200: oklch(85.75% 0.035 230.29);
	--color-indigo-300: oklch(78.91% 0.052 231.11);
	--color-indigo-400: oklch(72.13% 0.068 232.48);
	--color-indigo-500: oklch(65.3% 0.084 232.87);
	--color-indigo-600: oklch(56.66% 0.082 235.18);
	--color-indigo-700: oklch(48.32% 0.068 233.29);
	--color-indigo-800: oklch(39.13% 0.054 234.75);
	--color-indigo-900: oklch(26.59% 0.032 235.2);
	--color-indigo-950: oklch(19.71% 0.02 233.01); */

	--color-indigo: oklch(39.13% 0.054 234.74);
	--color-indigo-50: oklch(96.3% 0.009 232.28);
	--color-indigo-100: oklch(91.84% 0.02 229.01);
	--color-indigo-200: oklch(84.13% 0.038 231.99);
	--color-indigo-300: oklch(75.88% 0.059 231.77);
	--color-indigo-400: oklch(68.31% 0.077 231.98);
	--color-indigo-500: oklch(59.5% 0.087 234.68);
	--color-indigo-600: oklch(49.11% 0.07 235.19);
	--color-indigo-700: oklch(39.13% 0.054 234.74);
	--color-indigo-800: oklch(35.17% 0.047 234.3);
	--color-indigo-900: oklch(32.19% 0.041 232.65);
	--color-indigo-950: oklch(29.98% 0.038 233.71);

	--color-blue: oklch(56.96% 0.128 242.78);
	--color-blue-50: oklch(97.8% 0.009 232.36);
	--color-blue-100: oklch(94.65% 0.023 237.64);
	--color-blue-200: oklch(89.46% 0.045 233.81);
	--color-blue-300: oklch(84.25% 0.068 235.85);
	--color-blue-400: oklch(79.11% 0.089 236.73);
	--color-blue-500: oklch(74.18% 0.11 238.5);
	--color-blue-600: oklch(66.38% 0.14 241.64);
	--color-blue-700: oklch(56.96% 0.128 242.78);
	--color-blue-800: oklch(44.85% 0.098 242.14);
	--color-blue-900: oklch(33% 0.068 241.31);
	--color-blue-950: oklch(26.08% 0.05 239.96);

	--color-green: oklch(91.57% 0.056 175.11);
	--color-green-50: oklch(97.73% 0.015 175.73);
	--color-green-100: oklch(94.1% 0.046 176.16);
	--color-green-200: oklch(91.57% 0.056 175.11);
	--color-green-300: oklch(86.95% 0.086 173.32);
	--color-green-400: oklch(82.52% 0.115 171.15);
	--color-green-500: oklch(78.68% 0.135 169.27);
	--color-green-600: oklch(71.91% 0.136 167.51);
	--color-green-700: oklch(61.37% 0.116 167.39);
	--color-green-800: oklch(48.83% 0.09 167.99);
	--color-green-900: oklch(37.08% 0.067 167.87);
	--color-green-950: oklch(30.03% 0.051 170.2);

	/* Feedback */
	--color-success: oklch(71.95% 0.2 149.54);
	--color-success-50: oklch(97.38% 0.038 160.82);
	--color-success-100: oklch(94.75% 0.075 160.48);
	--color-success-200: oklch(90.96% 0.143 157.74);
	--color-success-300: oklch(88.03% 0.203 153.85);
	--color-success-400: oklch(86.89% 0.24 149.73);
	--color-success-500: oklch(71.95% 0.2 149.54);
	--color-success-600: oklch(60.84% 0.168 149.86);
	--color-success-700: oklch(48.9% 0.132 150.6);
	--color-success-800: oklch(38.09% 0.101 151.47);
	--color-success-900: oklch(24.3% 0.061 154.35);
	--color-success-950: oklch(16.87% 0.038 159.54);

	--color-warning: oklch(88.24% 0.176 94.31);
	--color-warning-50: oklch(98.05% 0.032 95.39);
	--color-warning-100: oklch(97.08% 0.049 95.86);
	--color-warning-200: oklch(95.18% 0.085 96.86);
	--color-warning-300: oklch(93.2% 0.118 96.68);
	--color-warning-400: oklch(91.48% 0.145 97.11);
	--color-warning-500: oklch(89.79% 0.165 96.05);
	--color-warning-600: oklch(88.24% 0.176 94.31);
	--color-warning-700: oklch(85.14% 0.174 92.03);
	--color-warning-800: oklch(68.14% 0.139 92.46);
	--color-warning-900: oklch(49.3% 0.101 93.05);
	--color-warning-950: oklch(38.36% 0.079 94.26);

	--color-danger: oklch(63.78% 0.237 25.44);
	--color-danger-50: oklch(95.63% 0.022 14.06);
	--color-danger-100: oklch(91.26% 0.044 14.49);
	--color-danger-200: oklch(81.95% 0.098 16.27);
	--color-danger-300: oklch(74.65% 0.15 18.32);
	--color-danger-400: oklch(67.88% 0.203 21.72);
	--color-danger-500: oklch(63.78% 0.237 25.44);
	--color-danger-600: oklch(58.21% 0.237 28.21);
	--color-danger-700: oklch(47.49% 0.193 27.91);
	--color-danger-800: oklch(35.06% 0.141 27.08);
	--color-danger-900: oklch(22.58% 0.09 25.28);
	--color-danger-950: oklch(15.15% 0.057 23.84);

	/* Container */
	--container-8xl: 1440px;
	--container-9xl: 1560px;
	--container-10xl: 1680px;

	/* Font Sizes */
	--text-2xs: 0.625rem;

	/* Line Heights */
	--leading-shrink: 0.9em;
	--leading-2xs: 1.05;
	--leading-xs: 1.11;
	--leading-sm: 1.15;
	--leading-md: 1.47;
	--leading-prose: 1.65em;
	--leading-prose-sm: 1.33em;
	--leading-prose-lg: 1.77em;

	/* Letter Spacing */
	--tracking-sm: 0.02em;
	--tracking-md: 0.066667em;
	--tracking-lg: 0.091em;
	--tracking-xl: 0.166667em;
	--tracking-2xl: 0.178333em;
	--tracking-3xl: 0.25em;

	/* Radius */
	--radius-base: 0.6rem;
	--radius-4xl: clamp(1.5rem, 1.666vw, 2rem); /* 2 —— 24-32px */
	--radius-5xl: clamp(2rem, 2.5vw, 3rem); /* 3 —— 32-48px */
	--radius-6xl: clamp(3rem, 3.333vw, 4rem); /* 4 —— 48-64px */
	--radius-7xl: clamp(4.5rem, 5vw, 6rem); /* 6 —— 72-96px */
	--radius-8xl: clamp(6rem, 6.666vw, 8rem); /* 8 —— 96-128px */
	--radius-9xl: clamp(8rem, 10vw, 12rem); /* 12 —— 128-192px */
	--radius-10xl: clamp(12rem, 13.3333vw, 16rem); /* 16 —— 192-256px */
	--radius-11xl: clamp(14rem, 16vw, 20rem); /* 20 —— 256-364px */
	--radius-12xl: clamp(16rem, 18vw, 24rem); /* 24 —— 364-512px */

	/* Flex Grow */
	--flex-grow-2: 2;
	--flex-grow-3: 3;
	--flex-grow-4: 4;
	--flex-grow-5: 5;
	--flex-grow-6: 6;

	/* Z-Index */
	--z-index-1: 1;
	--z-index-2: 2;
	--z-index-60: 60;
	--z-index-70: 70;
	--z-index-80: 80;
	--z-index-90: 90;
	--z-index-99: 99;
	--z-index-100: 100;
	--z-index-101: 101;
	--z-index-199: 199;
	--z-index-200: 200;
	--z-index-201: 201;

	/* Shadows */
	--shadow-up:
		0 -1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-up-md:
		0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-up-lg:
		0 -10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-up-xl:
		0 -20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-up-2xl: 0 -5px 50px -12px rgb(0 0 0 / 0.25);

	/* Filters */
	--saturate-25: 0.25;
	--saturate-75: 0.75;

	/* Scale */
	--scale-120: 1.2;
	--scale-175: 1.75;
	--scale-200: 2;
	--scale-250: 2.5;

	/* Transitions */
	--transition-duration-250: 250ms;
	--transition-duration-400: 400ms;
	--transition-duration-800: 800ms;
	--transition-duration-1200: 1200ms;
	--transition-duration-1500: 1500ms;
	--transition-duration-1750: 1750ms;
	--transition-duration-2000: 2000ms;
	--transition-duration-2500: 2500ms;
	--transition-duration-3000: 3000ms;

	/* Easing */
	--ease-out-smooth: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-in-out-dramatic: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-in-out-intro: cubic-bezier(0.73, 0, 0.13, 1);

	/* Animations */
	--animate-loader: loader 1.4s linear infinite both;
	--animate-loader-delay-200: loader 1.4s linear 200ms infinite both;
	--animate-loader-delay-400: loader 1.4s linear 400ms infinite both;
	--animate-loader-delay-600: loader 1.4s linear 600ms infinite both;
	--animate-loop: loop 0.7s cubic-bezier(0.18, 0.18, 0.25, 1);
	--animate-loop-back: loop 0.7s cubic-bezier(0.75, 0, 0.82, 0.82)
		reverse;
	--animate-loop-around: loop-around 1s var(--ease-in-out-dramatic);

	@keyframes loader {
		0% {
			opacity: 0.2;
		}
		20% {
			opacity: 1;
		}
		100% {
			opacity: 0.2;
		}
	}

	@keyframes loop {
		0%,
		100% {
			transform: translateX(0);
		}
		49.99% {
			transform: translateX(200%);
		}
		50% {
			transform: translateX(-200%);
		}
	}

	@keyframes loop-around {
		0%,
		100% {
			transform: translate(0, 0);
		}
		49.99% {
			transform: translate(200%, -200%);
		}
		50% {
			transform: translate(-200%, 200%);
		}
	}
}
